/* Customized original Bootstrap styles */
.bg-danger {
	background-color: #ff4350!important;
}

/* custom colors for autofill saved forms on browser */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: #2e3436;
}

/* Simulator Styles */
body {
/* 	display: -ms-flexbox; only for legacy Internet Explorer browser support */
	display: flex;
	margin: 0;
/* 	-ms-flex-align: center; only for legacy Internet Explorer browser support */
	flex-direction: column;
	height: 100vh;
	align-items: center;
	background-color: #f3f3f3;
}

.login-form .jumbotron {
	max-height: 450px;
}

.signup-form .jumbotron {
	max-height: 500px;
}

.simulator-form, .login-form, .dashboard, .home, .signup-form, .save-config {
	flex-grow: 1;
}

.simulator-form label {
	font-size: .9rem;
}

footer {
	display:flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	background-color: rgba(0, 0, 0, 0.2);
	width:100vw;
}

footer p {margin: 0;}

.simulator-form {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.dashboard, .save-config, .simulator-form {
	padding-top: 100px;
}


/**** By Default hidden Div's on simulator.html  *****/
#processIdDiv,
#cplScanDiv,
#felvFivTestDiv,
#flex4TestDiv,
#sameCassetteOptionsDiv,
#sameCassetteCheckboxDiv,
#processIdDivSame,
#cplSacanDivSame,
#felvFivTestDivSame,
#flex4TestDivSame {
	display: none;
}


