<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Single test</title>
</head>
<body>
	<div id="felvFivTestDiv" th:fragment="felvFivTest">
		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>+ FeLV</label> 
				<input type="checkbox" class="form-check" th:field="*{scanDouble.positiveFelv}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> 
				<input type="text" class="form-control form-control-sm never-required" th:field="*{scanDouble.testErrorCodeFelv}">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanDouble.controlFelv}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> <input type="text" class="form-control form-control-sm" th:field="*{scanDouble.noiseFelv}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanDouble.testLineValueFelv}" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>+ FIV</label> 
				<input type="checkbox" class="form-check" th:field="*{scanDouble.positiveFiv}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> 
				<input type="text" class="form-control form-control-sm never-required" th:field="*{scanDouble.testErrorCodeFiv}">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanDouble.controlFiv}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanDouble.noiseFiv}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanDouble.testLineValueFiv}" required>
			</div>
		</div>
	</div>
</body>
</html>