<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single test</title>
</head>
<body>

	<div id="flex4TestDivSame" th:fragment="flex4TestSame">
		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>+ A</label> 
				<input type="checkbox" class="form-check" th:field="*{scanMultiple.positiveAnaplasma2}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> 
				<input type="text" class="form-control form-control-sm never-required" th:field="*{scanMultiple.testErrorCodeAnaplasma2}">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.controlAnaplasma2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.noiseAnaplasma2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.testLineValueAnaplasma2}" required>
			</div>
		</div>

		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>+ E</label> 
				<input type="checkbox" class="form-check" th:field="*{scanMultiple.positiveEhrlichia2}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> 
				<input type="text" class="form-control form-control-sm never-required" th:field="*{scanMultiple.testErrorCodeEhrlichia2}">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.controlEhrlichia2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.noiseEhrlichia2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.testLineValueEhrlichia2}" required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>+ L</label> 
				<input type="checkbox" class="form-check" th:field="*{scanMultiple.positiveLyme2}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> 
				<input type="text" class="form-control form-control-sm never-required" th:field="*{scanMultiple.testErrorCodeLyme2}">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.controlLyme2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.noiseLyme2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.testLineValueLyme2}" required>
			</div>
		</div>
		
		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>+ H</label> 
				<input type="checkbox" class="form-check" th:field="*{scanMultiple.positiveHeartworm2}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> 
				<input type="text" class="form-control form-control-sm never-required" th:field="*{scanMultiple.testErrorCodeHeartworm2}">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.controlHeartworm2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.noiseHeartworm2}" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> 
				<input type="text" class="form-control form-control-sm" th:field="*{scanMultiple.testLineValueHeartworm2}" required>
			</div>
		</div>		
		
	</div>

</body>
</html>