<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Single test</title>
</head>
<body>
	<div id="singleTestDiv" th:fragment="singleTest">
		<div class="form-row">
			<div class="col-md-1 form-group">
				<label>positive</label> <input type="checkbox" class="form-check"
					th:field="*{scanSingle.positive}">
			</div>
			<div class="col-md-2 form-group">
				<label>test_error_code</label> <input type="text"
					class="form-control form-control-sm"
					th:field="*{scanSingle.testErrorCode}" 
					id="testErrorCodeInput">
			</div>
			<div class="col-md-3 form-group">
				<label>control</label> <input type="text"
					class="form-control form-control-sm"
					th:field="*{scanSingle.control}" 
					id="ControlInput" required>
			</div>
			<div class="col-md-3 form-group">
				<label>noise</label> <input type="text"
					class="form-control form-control-sm" 
					th:field="*{scanSingle.noise}"
					id="noiseInput" required>
			</div>
			<div class="col-md-3 form-group">
				<label>test_line_value</label> <input type="text"
					class="form-control form-control-sm"
					th:field="*{scanSingle.testLineValue}" 
					id="testLineValueInput" required>
			</div>
		</div>
	</div>
</body>
</html>