<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Saved</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    	<link th:rel="stylesheet" th:href="@{/styles/css/main.css}" />
    </head>
    <body>
    	<div th:replace="fragments/header :: header"></div>
        <div class="container save-config">        	
            <h3 class="text-center m-4"><img class="mb-4" th:src="@{/images/green-check-mark.png}" alt="" width="70" height="60" />VUE Reader Simulator ready to be used!</h3>
            <h4 class="m-5 p-2 card col-12 col-md-6 col-lg-4 mx-auto text-center shadow text-ligh"><a th:href="@{/dashboard}">Back to dashboard</a></h4>
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>