<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Signup</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
	<link th:rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" />
	<link th:rel="stylesheet" th:href="@{/styles/css/main.css}" />
</head>
<body>
	<div class="container signup-form d-flex flex-column align-items-center">
		<img class="m-4" th:src="@{/images/ot2.png}" alt="Opentrends" width="250" height="75" />
		<h1 class="h3 mb-5 font-weight-bold">VUE Reader Simulator</h1>
	
		<div th:if="${param.logout}" class="alert-warning">You have been logged out.</div>
		
		<div class="jumbotron border rounded col-12 col-md-10 col-lg-6 bg-light shadow p-5">
			<div class="card-header">
				<h4 class="m-2 font-weight-normal text-center">Signup Here</h4>
			</div>
			<div th:if="${param.error}">Invalid email and password.</div>
			
			<form class="form-signin" th:action="@{/signup}" method="post">
				<div class="d-flex flex-column align-items-around">
					<label for="inputUsername" class="sr-only">Email address</label>
					<div class="input-group mb-3 mt-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-light-grey text-danger" style="display: inline-block; width: 43px;">
							<i class="fa fa-envelope" aria-hidden="true"></i></span>
						</div>
						<input type="email" name="email" id="inputEmail" class="form-control" placeholder="Username" required />
					</div>
					<label for="inputPassword" class="sr-only">Password</label> 
					
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text bg-light-grey text-danger" style="display: inline-block; width: 43px;"> 
							<i class="fa fa-lock" aria-hidden="true"></i></span>
						</div>							
						<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required /> 
					</div>
						
					<label for="inputFullname" class="sr-only">Full Name</label> 
						
					<div class="input-group mb-4">
						<div class="input-group-prepend">
							<span class="input-group-text bg-light-grey text-danger" style="display: inline-block; width: 43px;"> <i class="fa fa-user" aria-hidden="true"></i></span>
						</div>					
						<input type="text" name="fullName" id="inputEmail" class="form-control" placeholder="Full name" required />	
					</div>					
					<button class="btn btn-md btn-info btn-block btn-sm mb-5" type="submit">Sign Up</button>
				</div>
			</form>
			<form class="form-signin" th:action="@{/login}" method="get">
				<button class="btn btn-md btn-outline-danger btn-block btn-sm m-1" type="Submit">Sign In</button>
			</form>
		</div>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>