<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Simulator</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
    	<link th:rel="stylesheet" th:href="@{/styles/css/main.css}" />
    	<script type="text/javascript" th:src="@{/js/main.js}"></script>
    </head>
    <body>
    	<div th:replace="fragments/header :: header"></div>
        <div class="container simulator-form" layout:fragment="content">
            <div class="row">
	            <form method="post" class="form-horizontal" >  
	            
             		<h3 th:inline="text">Configuration</h3>
             		<hr class="solid">
	             	<div class="form-row">
				        <div class="col-md-3 form-group">
				            <label>serial_number</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>ethernet_ip</label>
				            <input type="text" class="form-control" >
				        </div>
				    </div>
				    
				    <h3 th:inline="text">Status</h3>
				    <hr class="solid">
	             	<div class="form-row">
				        <div class="col-md-3 form-group">
				            <label>busy_state</label>
				            <input type="checkbox" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>cassette_in</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>settings_version</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>realease_version</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>cassette_time</label>
				            <input type="text" class="form-control" >
				        </div>
				    </div>
				    
				    <h3 th:inline="text">Scan</h3>
				    <hr class="solid">
	             	<div class="form-row">
				        <div class="col-md-3 form-group">
				            <label>cassette_type</label>
				            <select class="form-control" >
						    <option value="0">select cassette type</option>						    
						    </select>
				        </div>
				        <div class="custom-control custom-radio custom-control-inline">
			                <input type="radio" id="option1" name="option1" class="custom-control-input" value="1" >
			                <label class="custom-control-label" for="option1">Timed</label>
			            </div>
			            <div class="custom-control custom-radio custom-control-inline">
			                <input type="radio" id="option2" name="option2" class="custom-control-input" value="2" >
			                <label class="custom-control-label" for="option2">Quick</label>
			            </div>			            
				    </div>
				    
				    <div class="form-row">				       
			            <div class="col-md-3 form-group">
				            <label>positive</label>
				            <input type="checkbox" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>control</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>noise</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>test_line_value</label>
				            <input type="text" class="form-control" >
				        </div>
				    </div>
				    
				    <div class="form-row">				       
			            <div class="col-md-3 form-group">
				            <label>process_id</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>previous_process_id</label>
				            <input type="text" class="form-control" >
				        </div>
				    </div>
				    
				    <div class="form-row">				       
			            <div class="col-md-3 form-group">
				            <label>lot_number</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>scaled_result</label>
				            <input type="text" class="form-control" >
				        </div>
				    </div>
				    
				    <div class="form-row">				       
			            <div class="col-md-3 form-group">
				            <label>cassette_error_code</label>
				            <input type="text" class="form-control" >
				        </div>
				        <div class="col-md-3 form-group">
				            <label>test_error_code</label>
				            <input type="text" class="form-control" >
				        </div>
				    </div>
				    
				    <div class="form-row">				       
			            <div class="col-md-3 form-group">
				            <label>Same cassette process</label>
				            <input type="checkbox" class="form-control" id="sameCassetteCheckbox" onclick="showSameCassette(this)" >
				        </div>
				    </div>
				    
				    <div id="sameCassetteDiv" style="display:none">
					    <div class="form-row">				       
				            <div class="col-md-3 form-group">
					            <label>positive</label>
					            <input type="checkbox" class="form-control" >
					        </div>
					        <div class="col-md-3 form-group">
					            <label>control</label>
					            <input type="text" class="form-control" >
					        </div>
					        <div class="col-md-3 form-group">
					            <label>noise</label>
					            <input type="text" class="form-control" >
					        </div>
					        <div class="col-md-3 form-group">
					            <label>test_line_value</label>
					            <input type="text" class="form-control" >
					        </div>
					    </div>
					    
					    <div class="form-row">				       
				            <div class="col-md-3 form-group">
					            <label>process_id</label>
					            <input type="text" class="form-control" >
					        </div>
					        <div class="col-md-3 form-group">
					            <label>previous_process_id</label>
					            <input type="text" class="form-control" >
					        </div>
					    </div>
					    
					    <div class="form-row">				       
				            <div class="col-md-3 form-group">
					            <label>lot_number</label>
					            <input type="text" class="form-control" >
					        </div>
					        <div class="col-md-3 form-group">
					            <label>scaled_result</label>
					            <input type="text" class="form-control" >
					        </div>
					    </div>
					    
					    <div class="form-row">				       
				            <div class="col-md-3 form-group">
					            <label>cassette_error_code</label>
					            <input type="text" class="form-control" >
					        </div>
					        <div class="col-md-3 form-group">
					            <label>test_error_code</label>
					            <input type="text" class="form-control" >
					        </div>
					    </div>			    
				    </div>
				    
	
	                <button class="btn btn-primary" type="submit">Save</button>
	                <a class="btn btn-warning" href="/dashboard">Back</a>
	            </form>
		    </div>            
        </div>
        <div th:replace="fragments/footer :: footer"></div>
    </body>
</html>